body {
    background-color: aquamarine;
    margin : auto 540px auto;
}

h1 {
    margin-bottom: 50px;
    margin-top : 50px;
}

button {
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.left {
    margin-left: 70px;
}