body {
    background-color: rgb(121, 231, 231); 
}

header {
   margin-bottom: 20px;
   /* background-color: #1dd3bd;  */
}

main {
    margin-top: 70px;
}

footer {
    background-color:gainsboro;
    padding-left: 5px;
    border: black solid thin;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: maroon;
}
.navbar-custom {
    background-color: #1dd3bd
}

.navbar-nav > li{
    padding-left: 15px;
    font-family: Georgia;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: yellow; 
} 

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}

button {
    background-color: brown;
    color: white;
    padding: 7px;
    border-radius: 20px;
    margin-right: 10px;
}

.left {
    margin-left: 70px;
}

/* add age */
.main-options {
    display: flex;
}

.side {
    float: left;
    width: 30%;
    padding: 10px;
    border : 1px;
    border-style: hidden;
    flex: 1;
    text-align: center;
    margin: 20px;
}

.main {
    display: flex;
    height: 300px;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

/* .option {
    flex: 1;
} */

img {
    height: 400px;
    width: 400px;
}

form {
    margin-left: 50px;
}

.workout {
    margin-bottom: 10px;
    margin-top: 20px;
}


