body { 
    background-color: rgb(130, 121, 175);
}

header {
   margin-bottom: 20px;
}

main {
    margin-top: 70px;
}

footer {
    background-color:gainsboro;
    padding-left: 5px;
    border: black solid thin;
    border-radius: 8px;
    text-align: center;
    color: maroon;
}
.navbar-custom {
    background-color: #1dd3bd
}

.navbar-nav > li{
    padding-left: 15px;
    font-family: Georgia;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: yellow; 
} 

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}

button {
    background-color: brown;
    color: white;
    border-radius: 20px;
}

.workout:nth-child(odd) {
   background-color:rgba(255, 255, 0, 0.8);
}

.workout:nth-child(even) {
    background-color:rgba(250, 128, 114, 0.8);
 }


