<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
    .navbar {
        background: #cf1010;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0088ce, #005b94);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,#005b94, #5bc0de ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-bottom: 50px;
      }
    </style>
    <!-- <script>
        window.addEventListener("DOMContentLoaded", function(){
            var user_id_input = document.getElementById("id_user_id");
            if(user_id_input){
                user_id_input.value = "{{ user.id}}";
            }
        }) 
    </script> -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top py-2">
            <a class="navbar-brand" href="/home">Gainz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav navbar-sidenav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/add">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_exercises">Exercises</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/list_workouts">Workouts</a>
                    </li> 
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>              
                </ul>
            </div>
        </nav> 
    </header>
    <main>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="register">Submit</button>
        </form>
        {% else %}

        <!-- uSE BOOTSTRAP FOR FORMS -->
        <form method="post">
            {% csrf_token %}
            <p><label for="id_title">Title:</label> <input type="text" name="title" value="" maxlength="50" required id="id_title"></p>
            <div class="form-group">
                <label class="form-control" rows="5" for="id_description">Description:</label> <textarea name="description" cols="40" rows="10" maxlength="100" required id="id_description"></textarea>
            </div>
            <p><label>Select exercises:</label></p>
            {% for ex in exercises %}
            <p><input type="checkbox" id="{{ex.id}}" name="exercise" value="{{ex.id}}"><label for="{{ex.id}}"> {{ex.title}}</label></p>
            {% endfor %}
            <p>Schedule workout:</p>
            
            <div id="week">
                <input type="checkbox" id="1" name="day" value="1"><label for="1"> Monday</label>
                <input type="checkbox" id="2" name="day" value="2"><label for="2"> Tuesday</label>
                <input type="checkbox" id="3" name="day" value="3"><label for="3"> Wednesday</label>
                <input type="checkbox" id="4" name="day" value="4"><label for="4"> Thursday</label>
                <input type="checkbox" id="5" name="day" value="5"><label for="5"> Friday</label>
                <input type="checkbox" id="6" name="day" value="6"><label for="6"> Saturday</label>
                <input type="checkbox" id="7" name="day" value="7"><label for="7"> Sunday</label>
            </div>

            <button type="submit" value="register">Submit</button>
        </form>      
        {% endif %}
    </main>
</body>
</html>