<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .navbar {
            background: #cf1010;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0088ce, #005b94);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right,#005b94, #5bc0de ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top py-2">
            <a class="navbar-brand" href="/home">Gainz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav navbar-sidenav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list_workouts">Workouts</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/list_exercises">Exercises</a>
                    </li> 
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>              
                </ul>
            </div>
        </nav> 
    </header>
    <main>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        {% if exercise %}
        <form action="/edit_exercise/{{exercise.id}}" method="post">
            {% csrf_token %}
            <p>
                <label for="id_title">Title:</label> 
                <input type="text" name="title" value="{{exercise.title}}" maxlength="50" required id="id_title">
            </p>
            <p>
                <label for="id_sets">Sets:</label> 
                <input type="number" name="sets" value="{{exercise.sets}}" required id="id_sets">
            </p>
            <p>
                <label for="id_reps">Reps:</label> 
                <input type="number" name="reps" value="{{exercise.reps}}" required id="id_reps">
            </p>
            <p>
                <label for="id_time">Time:</label>
                <input type="number" name="time" value="{{exercise.time}}" required id="id_time">
            </p>
            <p>
                <label for="id_link">Link:</label>
                <input type="text" name="link" value="{{exercise.link}}" maxlength="1000" required id="id_link">
            </p>
            <p>
                <label for="id_description">Description:</label>
                <textarea name="description" cols="40" rows="10" maxlength="100" required id="id_description">{{exercise.description}}</textarea>
            </p>
            <button type="submit" value="register">Update</button>
        </form>
        {% else %}

        <!-- USE BOOTSTRAP FOR FORMS -->
        <form method="post">
            {% csrf_token %}
            <p><label for="id_title">Title:</label> <input type="text" name="title" value="{{workout.title}}" maxlength="50" required id="id_title"></p>
            <div class="form-group">
                <label class="form-control" rows="5" for="id_description">Description:</label> <textarea name="description" cols="40" rows="10" maxlength="100" required id="id_description">{{workout.description}}</textarea>
            </div>
            <p><label>Select exercises:</label></p>
            {% for ex in all_exercises %}
                {% if ex in my_exercises%}
                <p><input type="checkbox" id="{{ex.id}}" name="exercise" value="{{ex.id}}" checked><label for="{{ex.id}}"> {{ex.title}}</label></p>
                {% else %}
                <p><input type="checkbox" id="{{ex.id}}" name="exercise" value="{{ex.id}}"><label for="{{ex.id}}"> {{ex.title}}</label></p>
                {% endif %}
            {% endfor %}
            <p>Schedule workout:</p>
            
            <div id="week">
                {% if schedule.monday %}
                <input type="checkbox" id="0" name="day" value="0" checked><label for="0"> Monday</label>
                {% else %}
                <input type="checkbox" id="0" name="day" value="0"><label for="0"> Monday</label>
                {% endif %}
                {% if schedule.tuesday %}
                <input type="checkbox" id="1" name="day" value="1" checked><label for="1"> Tuesday</label>
                {% else %}
                <input type="checkbox" id="1" name="day" value="1"><label for="1"> Tuesday</label>
                {% endif %}
                {% if schedule.wednesday %}
                <input type="checkbox" id="2" name="day" value="2" checked><label for="2"> Wednesday</label>
                {% else %}
                <input type="checkbox" id="2" name="day" value="2"><label for="2"> Wednesday</label>
                {% endif %}
                {% if schedule.thursday %}
                <input type="checkbox" id="3" name="day" value="3" checked><label for="3"> Thursday</label>
                {% else %}
                <input type="checkbox" id="3" name="day" value="3"><label for="3"> Thursday</label>
                {% endif %}
                {% if schedule.friday %}
                <input type="checkbox" id="4" name="day" value="4" checked><label for="4"> Friday</label>
                {% else %}
                <input type="checkbox" id="4" name="day" value="4"><label for="4"> Friday</label>
                {% endif %}
                {% if schedule.saturday %}
                <input type="checkbox" id="5" name="day" value="5" checked><label for="5"> Saturday</label>
                {% else %}
                <input type="checkbox" id="5" name="day" value="5"><label for="5"> Saturday</label>
                {% endif %}
                {% if schedule.sunday %}
                <input type="checkbox" id="6" name="day" value="6" checked><label for="6"> Sunday</label>
                {% else %}
                <input type="checkbox" id="6" name="day" value="6"><label for="6"> Sunday</label>
                {% endif %}
            </div>

            <button type="submit" value="register">Update</button>
        </form>      
        {% endif %}
    </main>
    <footer class="container mt-4">
        <div>
           This website was built using <b>Django</b> | Copyright © Francois Mukaba
        </div>
    </footer>
</body>
</html>